{% extends 'adviser/index.html.twig' %}

{% block title %}
    Kalkulačky
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            {% for kalkulacka in calculators %}
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="white-box">
                        <h3 class="m-t-20 m-b-20 nadpisPoradce">{{ kalkulacka.name }}</h3>
                        <a href="{{ kalkulacka.url }}" target="_blank"
                           class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Přejít</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
