{% extends 'base.html.twig' %} {% block body %}
    <div class="with-menu container">
        <div class="row py-5">
            <div class="col-md-4 pb-5 text-center">
                <img src="/svg/Kariera/Crassus-kariera.svg" alt="logo">
            </div>
            <div class="col-md-8">
                <h1 class="display-4 text-danger text-uppercase">kariéra</h1>
                <p>Vzdělávání a podpora jednotlivce je nedílnou a důležitou součástí prosperující společnosti.</p>
                <h2 class="h5">PROČ PRÁVĚ CrassusArt?</h2>
                <ul>
                    <li>Jsme česká společnost s více jak 10letou tradicí s individuálním přístupem ke každému spolupracovníkovi.</li>
                    <li>Pracovní dobu si určuje každý spolupracovník dle svých osobních a finančních potřeb.</li>
                    <li>Neomezený měsíční výdělek</li>
                    <li>Nabízíme možnost osobně ovlivňovat další rozvoj společnosti</li>
                    <li>Maximální podpora vzdělávání a osobního rozvoje každého spolupracovníka je pro nás prioritou</li>
                    <li>Optimalizujeme pozice vzhledem k schopnostem a znalostem každého spolupracovníka</li>
                    <li>Možnost individuálního postupu na kariérním žebříčku</li>
                    <li>Preferujeme vstřícnou a komunikativní firemní kulturu</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <nav class="nav nav-with-slider flex-column flex-md-row">
            {% for position in positions %}
                <a href="#{{ position.id }}"
                   class="btn btn-rounded btn-lg main-btn nav-link text-white bg-danger py-3 m-3 text-uppercase"
                   data-toggle="tab">{{ position.name }}
                </a>
            {% endfor %}
        </nav>
    </div>

    <div class="tab-content">
        {% for position in positions %}
            <div id="{{ position.id }}" class="tab-pane">
                {% for section in position.sections %}
                    <div class="py-5">
                        <div class="container">
                            <div class="h4 font-weight-normal text-danger d-flex align-items-center"><i
                                        class="{{ section.icon }} pr-3"></i>
                                <div>{{ section.title }}</div>
                            </div>
                        </div>
                        <div class="separator my-2"></div>
                        <div class="container">
                            <ul>
                                {% for item in section.items %}
                                    <li class="text-danger py-2">
                                        <div class="text-dark">{{ item }}</div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <div class="container">
        <div class="my-5 d-flex justify-content-center">
            <img src="/svg/Kariera/Kariera-pridejse.svg" alt="pridejSe">
            <a href="mailto:info@crassusart.cz" class="anchor">
            <div class="px-5">
                <div class="d-flex justify-content-between p-3 align-items-between border border-danger rounded text-dark">
                    <div>
                    <h4 class="font-weight-normal">Chcete pro nás pracovat?</h4>
                    <h4 class="font-weight-normal">Pošlete nám něco o sobě a rádi se setkáme.</h4>
                    </div>
                    <img class="ml-5" src="/svg/Kariera/Sipky.svg" alt="sipky">
                </div>
            </div>
            </a>
        </div>
    </div>


{% endblock %}
