.tile-height{
  height: 250px;
}
.tile-hp{
  width: 255px;
  height: 250px;
}
.card-partner-height{
  height: 50px;
}
.hover-cover{
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
}
.hover-cover:hover{
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.subtitle {
  overflow: hidden;
  height: 60px;
  transition: 0.5s;
}
.tile-hover:hover .separator{
  width: 25%;
}
@include media-breakpoint-up(md){
  .subtitle {
    height: 0;
  }
  .tile-hover:hover .subtitle{
    height: 60px;
  }
}
