{% extends 'baseNoMenu.html.twig' %}

{% block title %}
    Admin
{% endblock %}

{% block stylesheets %}
    <style>
        * {
            font-family: "Ubuntu", sans-serif;
        }

        h1 {
            font-size: 36px;
        }

        .bg-login {
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
            width: 95%;
            position: absolute;
            right: 0;
            z-index: -1;
        }

        @media screen and (min-width: 700px) {
            .bg-login {
                width: 70%;
            }
        }

        .wrapper {
            height: 100vh;
            min-height: 450px;
        }

        .login-input input, .login-input input:focus {
            background-color: transparent;
            color: #000000;
        }

        .login-input input {
            border: 2px solid #D8D8D8;
            border-radius: 0;
            height: 40px;
        }

        .btn-login {
            background: #9B9B9B !important;
            color: #F3F3F3 !important;
        }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400&display=swap" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
<body class="position-relative bg-white">
<div class="wrapper">
    <div class="bg-login h-100" style="background-image: url('/svg/AdminLogin/Rectangle.svg');"></div>
    <div class="container d-flex align-items-center flex-column justify-content-center h-100">
        <div class="pb-5">
            <img class="w-100" src="/svg/AdminLogin/Logo.svg" alt="logo">
        </div>
        <div class="col-lg-4 col-md-offset-4 col-xs-offset-1 col-xs-10">
            <div class="row">
                {% if app.request.hasPreviousSession %}
                    {% for type, messages in app.session.flashBag.all %}
                        {% for message in messages %}
                            <div class="{{ type }}">
                                {{ message|trans({}, 'FOSUserBundle') }}
                            </div>
                            <div class="alert alert-success alert-dismissible {{ type }}" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                            aria-hidden="true">&times;</span>
                                </button>
                                {{ message|trans({}, 'FOSUserBundle') }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>
            {% block fos_user_content %}
                <div class="text-center">
                    <h1 class="text-uppercase text-dark pb-2 font-weight-light">Přihlášení</h1>
                </div>
                <form class="form-horizontal" action="https://www.gyasos-prelouc.cz/login_check" method="post">
                    <input type="hidden" name="_csrf_token" value="ETbCrKUs0T_lx4Bw7vkHulkGyvYjFp8cahF1fZl0YOc">
                    <div class="form-group">
                        <div class="col-xs-12 login-input">
                            <input placeholder="Uživatelské jméno" class="form-control" type="text" id="username"
                                   name="_username" value="" required="required" autocomplete="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 login-input">
                            <input class="form-control" placeholder="Heslo" type="password" id="password" name="_password"
                                   required="required" autocomplete="current-password">
                        </div>
                    </div>

                    <div class="form-group text-center m-t-40">
                        <div class="col-xs-12">
                            <button class="btn btn-login rounded-0 btn-lg btn-block text-uppercase waves-effect waves-light"
                                    type="submit">přihlásit
                            </button>
                        </div>
                    </div>
                    <div class="pt-4">
                        <div class="text-center">
                            <a href="" class="text-dark text-underline">
                                <u>Zapomněli jste heslo?</u>
                            </a>
                        </div>
                        <div class="col-sm-12 text-center font-italic">
                            Tvoříme weby s radostí www.webfix.cz
                        </div>
                        <div class="col-sm-12 text-center fs-12 text-light">
                            <a href="http://webfix.cz/" target="_blank"><img src="/svg/AdminLogin/webfixLogo.svg"
                                                                             alt="webfixLogo"></a>
                        </div>
                    </div>
                </form>

            {% endblock fos_user_content %}
          </div>
    </div>
</div>
{% endblock %}
