<footer>
    <div class="separator"></div>
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-3 m-auto">
                <img class="py-4" src="/svg/Paticka/Logo_paticka.svg" alt="logo">
                <h5 class="text-uppercase">Jsme specialistou finančního poradenstvní</h5>
            </div>
            <div class="py-4 col-6 col-lg-3 m-auto">
                <h4 class="font-weight-bold text-danger text-uppercase">rychlé menu</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="/o-nas" class="anchor text-dark">O nás</a>
                    </li>

                    <li>
                        <a href="/investice" class="anchor text-dark">Investice</a>
                    </li>
                    <li>
                        <a href="/uvery" class="anchor text-dark">Úvěry</a>
                    </li>
                    <li>
                        <a href="/pojisteni" class="anchor text-dark">Pojištění</a>
                    </li>
                    <li>
                        <a href="/kariera" class="anchor text-dark">Kariéra</a>
                    </li>
                    <li>
                        <a href="/kontakt" class="anchor text-dark">Kontakt</a>
                    </li>
                    <li>
                        <a href="/reklamace" class="anchor text-dark">Reklamace</a>
                    </li>
                    <li>
                        <a href="/files/Reklamacni_rad_web_crassusart.pdf" class="anchor text-dark">Reklamační řád</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="text-center py-4">
                    <img src="/svg/Paticka/Tel.svg" alt="tel">
                    <h5 class="py-3 text-dark">+420 775 664 960</h5>
                    <img src="/svg/Paticka/Mail.svg" alt="mail">
                    <a href="mailto:info@crassusart.cz" class="anchor text-dark"><h5 class="py-3">info@crassusart.cz</h5></a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">

            </div>
        </div>
    </div>
</footer>
