<div class="container">
    <a href="mailto:info@crassusart.cz" class="anchor">
        <div class="border border-danger rounded m-md-5 py-3 px-2 px-md-4 d-flex align-items-center text-dark">
            <img src="/svg/Pojisteni/Schuzka.svg" alt="schuzka">
            <h3 class="px-3 px-md-4"><span class="d-none d-lg-inline">Rádi Vám poradíme a budeme se Vám věnovat osobně.
                    Stačí si s námi sjednat</span><span class="d-inline d-lg-none">Sjednat</span><span class="font-weight-bold text-danger"> OSOBNÍ SCHŮZKU.</span></h3>
            <img src="/svg/Pojisteni/Sipky.svg" alt="sipky">
        </div>
    </a>
</div>
