<div class="container py-5">
    <h2 class="text-danger text-uppercase">naši partneři</h2>
    <div class="row py-2 text-center">
        {% for partner in partners %}
        <div class="col-6 col-sm-4 col-lg-2 py-2">
            <a target="_blank" href="{{ partner.link }}">
                <img class="card-partner-height hover-cover" src="/svg/Partneri/{{ partner.logo }}">
            </a>
        </div>
        {% endfor %}
    </div>
</div>
