<div class="container pt-5 scroll-to" id="{{ section.id }}">
    <div class="d-flex">
        <div class="mb-4 mr-3 lg-icon"
             style="background-image: url('/svg/TileIcons/{{ section.iconParagraph }}');"></div>
        <div>
            <h3 class="text-danger font-weight-normal text-uppercase">{{ section.title|raw }}</h3>
            <h4 class="text-muted font-weight-light text-uppercase">{{ section.subTitle }}</h4>
        </div>
    </div>
</div>
<div class="separator mb-4"></div>
<div class="container pb-5">
    {% for paragraph in section.text %}
        <p class="ml-5 w-75">
            {{ paragraph }}
        </p>
    {% endfor %}
</div>
