{% extends 'base.html.twig' %}

{% block body %}
    <div class="container with-menu">
        <p class="w-75 m-auto pt-5 font-weight-normal">CrassusArt, s.r.o. je specialistou v oblasti bezplatného finančního poradenství.

            Klientům zajišťujeme poradenství v oblasti úvěrů, hypotečních úvěrů, pojištění, spoření a investování.</p>

        <p class="w-75 m-auto pt-2 font-weight-normal">Naše společnost poskytuje samozřejmě i bezplatné audity smluv,
            optimalizaci již stávajících produktů a následný
            pravidelný dlouhodobý servis. Pro poskytování tohoto servisu využívají naši poradci profesionální software
            Glorie.

            Rádi budeme odborným průvodcem na cestě Vašich rodinných financí či financí Vašeho podnikání.
          </p>

        <div class="row py-5">
            {% for tile in loansSections %}
                {% include './components/tileNoText.html.twig' with { 'tile': tile } %}
            {% endfor %}
        </div>
    </div>
    {% include './components/appointment.html.twig' %}
    {% for section in loansSections %}
        {% include './components/section.html.twig' with { 'section': section } %}
    {% endfor %}
{% endblock %}
