{% extends 'base.html.twig' %}
{% block body %}
    <div class="with-menu container">
        <div class="row py-5 m-auto">
            <div class="my-3 col-lg-4 d-flex align-items-start">
                <img src="/svg/Kontakt/Tel.svg" alt="tel">
                <div class="pl-5">
                    <div class="text-danger h3"> Zavolejte nám</div>
                    <div>+420 775 664 960</div>
                </div>
            </div>
            <div class="my-3 col-lg-4 d-flex align-items-start">
                <img src="/svg/Kontakt/Mail.svg" alt="ail">
                <div class="pl-5">
                    <div class="text-danger h3"> Napište nám</div>
                    <a class="anchor text-dark" href="mailto:info@crassusart.cz">info@crassusart.cz</a>
                </div>
            </div>
            <div class="my-3 col-lg-4 d-flex align-items-start">
                <img src="/svg/Kontakt/Sidlo.svg" alt="sidlo">
                <div class="pl-5">
                    <div class="text-danger h3"> Sídlo firmy:</div>
                    <div>
                        <div>CrassusArt, s.r.o.</div>
                        <div>Veselí 124</div>
                        <div>535 01 Přelouč</div>
                        <div>IČ: 28776950</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include './components/map.html.twig' %} {% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function initMap() {
            var mapLatLng = {
                lat: 50.207917,
                lng: 15.986169
            };
            var pceLatLng = {
                lat: 50.033667,
                lng: 15.773888
            };
            var pce2LatLng = {
                lat: 50.0339774,
                lng: 15.7653468
            };
            var map = new google.maps.Map(document.getElementById('map'), {
                center: mapLatLng,
                zoom: 9,
                styles: [
                    {
                        elementType: 'geometry',
                        stylers: [{color: '#f5f5f5'}]
                    },
                    {
                        elementType: 'labels.icon',
                        stylers: [{visibility: 'off'}]
                    },
                    {
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#616161'}]
                    },
                    {
                        elementType: 'labels.text.stroke',
                        stylers: [{color: '#f5f5f5'}]
                    },
                    {
                        featureType: 'administrative.land_parcel',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#bdbdbd'}]
                    },
                    {
                        featureType: 'poi',
                        elementType: 'geometry',
                        stylers: [{color: '#eeeeee'}]
                    },
                    {
                        featureType: 'poi',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#757575'}]
                    },
                    {
                        featureType: 'poi.park',
                        elementType: 'geometry',
                        stylers: [{color: '#e5e5e5'}]
                    },
                    {
                        featureType: 'poi.park',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#9e9e9e'}]
                    },
                    {
                        featureType: 'road',
                        elementType: 'geometry',
                        stylers: [{color: '#ffffff'}]
                    },
                    {
                        featureType: 'road.arterial',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#757575'}]
                    },
                    {
                        featureType: 'road.highway',
                        elementType: 'geometry',
                        stylers: [{color: '#dadada'}]
                    },
                    {
                        featureType: 'road.highway',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#616161'}]
                    },
                    {
                        featureType: 'road.local',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#9e9e9e'}]
                    },
                    {
                        featureType: 'transit.line',
                        elementType: 'geometry',
                        stylers: [{color: '#e5e5e5'}]
                    },
                    {
                        featureType: 'transit.station',
                        elementType: 'geometry',
                        stylers: [{color: '#eeeeee'}]
                    },
                    {
                        featureType: 'water',
                        elementType: 'geometry',
                        stylers: [{color: '#c9c9c9'}]
                    },
                    {
                        featureType: 'water',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#9e9e9e'}]
                    }
                ]
            });
            var pce = new google.maps.Marker({
                position: pceLatLng,
                map: map,
                title: 'Tady nás najdete!'
            });
            var pce2 = new google.maps.Marker({
                position: pce2LatLng,
                map: map,
                title: 'Tady nás najdete!'
            });

        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAymDu1wdo2WwOcrXsMOgVyccrzoZIP9QQ&callback=initMap">
    </script>
{% endblock %}
